* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #d0e0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
